a {
  position: absolute;
  top: 470px;
  font-style: italic;
  font-size: 0.9em;
  padding-left: 485px;
  display: inline-block;
  text-decoration: none;
  align-content: center;
  align-items: center;
  padding: none;
  margin: auto;
  color: #4b8092;
}

.btn {
  border-radius: 5px;
  border:none;
}

.btn-in {
  background-color: #FFBF00;
}

.btn-up{
  background-color: rgb(220, 94, 100);
}

label {
  border-radius: 2px;
}

.login{
    display : inline-block;
    background-color: palevioletred;
    width: 290px;
   }

.signup{
  display : inline-block;
  background-color: greenyellow;
  width: 290px;
}

.userlog {  
  background-color: darkorange;
  width: 580px;
  text-align: center;
  padding: none;
}
