
a {
  text-decoration: none;
  font-weight: bold;
  color:  #000033;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 
.backTo {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  } 

.component {  
  width: 98%;
  max-height:450px;
  margin:auto;
  position: relative;
}

.btn {
  display:block;
  width:  80px;
  height: 40px;
  margin: 10px auto;
  padding: 3px;
  border-radius: 5px;
  border:none;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  background-color:#ff9900;
}

.callin {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  color:#ff9900;
}

label {
  margin-left: 10%;
  font-size: 0.7em;
  width: 100%;
  display: inline-block;
  text-align: left;
  color:  #000033;
  font-size: 1em; 
  }

input {
  border: none;
  border-block-end: grey 1px solid;
  background-color: rgb(241, 237, 237);
  width: 75%;
  height: 20px;
  font-style: italic;
  color: black;
  margin-bottom: 10px;
  margin-top: 2px;
  padding-left: 5px;
}

.login {
    position: relative;
    vertical-align: top;
    display : inline-block;
    width: 50%;   
   }
   
.signup {
  position: relative;
  vertical-align: top;
  display : inline-block;
  width: 50%;
  height:450px;
  }

