a {
  text-decoration: none;
  font-weight: bold;
  color:  #000033;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 
.backTo {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  } 

.blockDefinition {
  width: 80%;
  margin: auto;
  padding: none;
}

.component {
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(75, 128, 146, 0.5);
  align-items: center;
  width: 97%;
  height: 60%;
  color:  #000033;
  text-align: justify;
}

.definition {
  font-weight: bold;
  font-size:1.2em;  
}

.iccName {
  font-size: 1.5em;
  font-weight: bolder;
  color:#ff9900;
  padding-top: 40px;
  text-align: center;
}

.definition {
  font-size:1.1em;  
}
