
a {
  text-decoration: none;
  font-weight: bold;
  color:  #000033;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index:10;
  }

.btn {
  display: block;
  border-radius: 10px;
  line-height: 1.8;
  border:none;
  background-color: #ff9900;   
  margin: auto;
  padding: 10px
}

.contactIntro {
  width: 620px;
  margin: auto;
  line-height: 1.5em;
  color:  #000033;
  font-size: 1.2em;
  font-weight: bolder;
 }

em {
  font-weight: bold;
  font-style: initial;
  font-size: 1.3em;
}

.locked {
  background-color: grey;
  opacity: 0.5;
  width: 98%;
  z-index:5;
 
  margin: auto;
}

span {
  color: #ff9900;   
  }

