.blockContent {
  margin: auto;
  width: 100%;
  height: 83%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.blockLog {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  height: 100px;
  width: 40%;
  max-width: 40%;
  border-top-right-radius: 20px;
}

.blockMainContainer {
  background-color: white;
  position: relative;
  top: -60px;
  margin: auto;
  width: 800px;
  height: 600px;
  border-left: solid 2px  rgba(75, 128, 146, 0.9);
  border-right: solid 2px rgb(75, 128, 146, 0.5);
  border-bottom: solid 2px rgba(75, 128, 146, 0.5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 52;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.blockNav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 60%;
  max-width: 70%;
  border-top-left-radius: 20px;
}

body {
  height: 100%;
  width: 98vw;
  padding: 0;
  margin: 0 auto;
  line-height: 1;
  background-image: url("https://cdn.pixabay.com/photo/2016/07/12/06/25/background-1511509_960_720.jpg");
  color: #4b8092;
  font-family: 'Source Sans Pro', sans-serif;
}

.component {
  display: flex;
  flex-direction: row;
  background-color:red;
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  top: 20px;
  height: 30px;
  width: 100%;
  background-color: lightgrey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

header {
  height: 130px;
  width: 100%;
  background-color: #000033;
  z-index: 1;
}

.icon {
  height: 50px;
  width:50px;
  padding: 20px 10px;
}

.iconL {
  height:60px;
  width:55px;
  padding: 12px 10px;
}

.iconS {
  height: 45px;
  width:45px;
  padding: 20px 10px;
}

.logo {
  height: 90px;
  width: 90px;
  border-top-left-radius: 30px;
  padding: 5px 10px;
}

nav {
  display: flex;
  background-color: white;
  height: 100px;
  width: 97%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  }


.title {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
}

.welcome {
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:  #4b8092;
  font-size: 1.1em;
  line-height: 1.3;
  font-weight: bold;
  padding-right: 20px;
}

