<header>
  <link href="https://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro|Ubuntu+Condensed" rel="app.component">
  <h2 class="title">
   
  </h2>
</header>

<body> 
  <div class="blockMainContainer">

    <nav> 
      <div class="blockNav"> 
        <a [routerLink]="['/']"> <img class="logo" src="https://github.com/valerielinares/ease-Incoterm-frontend/blob/master/src/app/images/logo.png?raw=true" />
          </a> 
        <a [routerLink]="['/']"> <img class="icon" src="https://github.com/valerielinares/ease-Incoterm-frontend/blob/master/src/app/images/homeBtn.png?raw=true" />
          </a>
        <a [routerLink]="['/icclist']"> <img class="iconL" src="https://github.com/valerielinares/ease-Incoterm-frontend/blob/master/src/app/images/iccIcon.png?raw=true" />
          </a>
        <a [routerLink]="['/tool']"> <img class="iconS" src="https://github.com/valerielinares/ease-Incoterm-frontend/blob/master/src/app/images/toolIcon2.png?raw=true" />
          </a>
        <a [routerLink]="['/contact']"> <img class="icon" src="https://github.com/valerielinares/ease-Incoterm-frontend/blob/master/src/app/images/contactIcon.png?raw=true" />
          </a>   
      </div>          
      <div class="blockLog" *ngIf="myAuthServ.currentUser">
        <p class="welcome"> Welcome, <br /> Mrs./Mr. {{myAuthServ.currentUser.lastName}}! </p>
        <a (click)="logoutClick()"> <img class="iconS" src="https://github.com/valerielinares/ease-Incoterm-frontend/blob/master/src/app/images/logoutIcon.png?raw=true" />
          </a>
      </div>
    </nav>  

    <div class="blockContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
<footer>
  <p> my project3 @ Ironhack </p>
</footer>

 
     
       
  
  