
.blockContainer {
  position: absolute;
  top: 60px;
  width: 600px;
  margin-left: 50px;
  background-color: lightgrey;
  height: 520px;
  border: 5px;
  border: #4b8092;
  border-radius: 20px;
  z-index: 2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.blockMain {
  display: flex;
  padding: 10px;
  width: 580px;
  height: 430px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.blockTop {
  background-color: white;
  height: 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer {
  position: absolute;
  top: 600px;
  height: 30px;
  width: 100%;
  background-color: #4b8092;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  }

h3, p {
  position: relative;
  padding: none;
  margin: none;
  display: inline-block;
  align-items: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header {
  height: 130px;
  width: 100%;
  background-color: #4b8092;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  display: flex;
  z-index: 1;
}

.logo {
  height: 50px;
  padding-left: 15px;
  padding-top: 10px;
  border-top-right-radius: 30px;
}
