<div class="component"> 

    <div class="costs">
            <form>
                    <fieldset>
                        <legend>Select costs/operations</legend>
                
                        <div>
                            <input type="checkbox" id="packaging" name="costop" checked />
                            <label for="packaging">Packaging</label>
                        </div>
                
                        <div>
                            <input type="checkbox" id="loading" name="costop" />
                            <label for="loading">Loading on pre-routing transport</label>
                        </div>
                
                        <div>
                            <input type="checkbox" id="pre-routing" name="costop" />
                            <label for="pre-routing">Pre-routing</label>
                        </div>
                        
                         <div>
                            <input type="checkbox" id="exportCustoms" name="costop" />
                            <label for="exportCustoms">Export Customs</label>
                        </div>

                        <div>
                                <input type="checkbox" id="exportTerminalHandling" name="costop" />
                                <label for="xxportTerminalHandling">Export Terminal Handling</label>
                        </div>

                        <div>
                            <input type="checkbox" id="boarding" name="costop" />
                            <label for="boarding">Boarding</label>
                        </div>

                        <div>
                            <input type="checkbox" id="freight(mainTransportSea)" name="costop" />
                            <label for="freight(mainTransportSea)">Freight (main transport/sea)</label>
                        </div>

                        <div>
                            <input type="checkbox" id="freight(mainTransportAny)" name="costop" />
                            <label for="freight(mainTransportAny)">Freight (main transport/sea)</label>
                        </div>

                        <div>
                            <input type="checkbox" id="insuranceMainTransport" name="costop" />
                            <label for="insuranceMainTransport">Insurance (main transport/any)</label>
                        </div>

                        <div>
                            <input type="checkbox" id="importerminalHandling" name="costop" />
                            <label for="imprtTerminalHandling">Import Terminal Handling</label>
                        </div>

                        <div>
                            <input type="checkbox" id="importCustoms" name="costop" />
                            <label for="importCustoms"> Import Customs  </label>
                        </div>

                        <div>
                            <input type="checkbox" id="postRoutingLoading" name="costop" />
                            <label for="postRoutingLoading"> Loading on post-routing transport </label>
                        </div>
                        
                        <div>
                            <input type="checkbox" id="unloading" name="costop" />
                            <label for="unloading"> Unloading </label>
                        </div>
          
                    </fieldset>
                </form>
    </div>

    <div class="iccs">
    </div>
        
              
</div>

<div class="backTo">
    <a routerLink="/"> Back to Home </a>
</div>

