<div class="component"> 

    <div class="costs">
            <form>
                    <fieldset>
                        <legend class="legendCost">Select by costs/operations (export) </legend>
                
                        <div>
                            <input type="checkbox" id="packaging" name="costop"  />
                            <label for="packaging">Packaging</label>
                        </div>
                
                        <div>
                            <input type="checkbox" id="loading" name="costop" />
                            <label for="loading">Loading on pre-routing transport</label>
                        </div>
                
                        <div>
                            <input type="checkbox" id="pre-routing" name="costop" />
                            <label for="pre-routing">Pre-routing</label>
                        </div>
                        
                         <div>
                            <input type="checkbox" id="exportCustoms" name="costop" />
                            <label for="exportCustoms">Export Customs</label>
                        </div>

                        <div>
                                <input type="checkbox" id="exportTerminalHandling" name="costop" />
                                <label for="exportTerminalHandling">Export Terminal Handling</label>
                        </div>

                        <div>
                            <input type="checkbox" id="boarding" name="costop" />
                            <label for="boarding">Boarding on main transport</label>
                        </div>

                        <div>
                            <input type="checkbox" id="freightMainTransportSea" name="costop" />
                            <label for="freighMainTransportSea">Freight (main transport/sea)</label>
                        </div>

                        <div>
                            <input type="checkbox" id="freightMmainTransportAny" name="costop" />
                            <label for="freightMainTransportAny">Freight (main transport/any)</label>
                        </div>

                        <div>
                            <input type="checkbox" id="insuranceMainTransport" name="costop" />
                            <label for="insuranceMainTransport">Insurance (main transport/any)</label>
                        </div>

                        <div>
                            <input type="checkbox" id="DAT" name="costop" />
                            <label for="imprtTerminalHandling">Import Terminal Handling</label>
                        </div>

                        <div>
                            <input type="checkbox" id="importCustoms" name="costop" />
                            <label for="importCustoms"> Import Customs  </label>
                        </div>

                        <div>
                            <input type="checkbox" id="postRoutingLoading" name="costop" />
                            <label for="postRoutingLoading"> Loading on post-routing transport </label>
                        </div>
                        
                        <div>
                            <input type="checkbox" id="unloading" name="costop" />
                            <label for="unloading"> Unloading </label>
                        </div>
          
                    </fieldset>
                </form>
    </div>

    <div class="iccs">
            <form>
                    <fieldset>
                        <legend class="legendIcc">Select by Incoterm</legend>
                
                        <div>
                            <input type="checkbox" id="exw" name="icc"  />
                            <label for="exw">Ex-Works</label>
                        </div>
                
                        <div>
                            <input type="checkbox" id="exwLoaded" name="icc" />
                            <label for="exwLoaded">Ex-works <i>loaded</i></label>
                        </div>
                
                        <div>
                            <input type="checkbox" id="fcaUncleared" name="icc" />
                            <label for="fcaUncleared">FCA <i>uncleared</i></label>
                        </div>
                        
                         <div>
                            <input type="checkbox" id="fca" name="icc" />
                            <label for="fca">FCA</label>
                        </div>

                        <div>
                                <input type="checkbox" id="fas" name="icc" />
                                <label for="fas">FAS</label>
                        </div>

                        <div>
                            <input type="checkbox" id="fob" name="icc" />
                            <label for="fob">FOB</label>
                        </div>

                        <div>
                            <input type="checkbox" id="cfr" name="icc" />
                            <label for="cfr">CFR</label>
                        </div>

                        <div>
                            <input type="checkbox" id="cpt" name="icc" />
                            <label for="cpt">CPT</label>
                        </div>

                        <div>
                            <input type="checkbox" id="cif" name="icc" />
                            <label for="cif">CIF</label>
                        </div>

                        <div>
                                <input type="checkbox" id="cip" name="icc" />
                                <label for="cip">CIP</label>
                            </div>

                        <div>
                            <input type="checkbox" id="dat" name="icc" />
                            <label for="dat">DAT</label>
                        </div>

                        <div>
                            <input type="checkbox" id="dap" name="icc" />
                            <label for="dap"> DAP  </label>
                        </div>

                        <div>
                            <input type="checkbox" id="ddp" name="icc" />
                            <label for="ddp"> DDP </label>
                        </div>
                                               
          
                    </fieldset>
                </form>
    </div>
        
              
</div>

<div class="backTo">
    <a routerLink="/"> Back to Home </a>
</div>

