

a {
  display: inline-block;
  text-decoration: none;
  align-content: center;
  align-items: center;
  padding: none;
  margin: auto;
  color: #4b8092;
}


.blockIcc {
  padding: none;
  height:100px;
  width: 100px;
  display: inline-block;
  margin: 10px;
  flex-direction: row;
  border: solid 1px #4b8092;
  background-color: white;
  border-radius: 20px;
}


.component {
  margin-top: 10%;
  background-color: rgba(75, 128, 146, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60%;
}
