a {
  text-decoration: none;
  font-weight: bold;
  color:  #000033;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 
.backTo {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  } 

.btn {
  margin: 10px auto;
  padding: 3px;
  border-radius: 5px;
  border:none;
  width: 90px;
  height: 40px;
  color: white;
  background-color:#ff9900;
  font-size:1em;
  font-weight: bold;
  }
  
.component {
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(75, 128, 146, 0.5);
  align-items: center;
  width: 97%;
  height: 280px;
  color:  #000033;
  text-align: left;
  }

form {
  width: 600px;
  height: 100%;
  margin: auto;
  padding: none;
  line-height: 1;
}

textarea {
  margin-top:5px;
  width: 600px;
  height: 70%;
  border: none;
  font-style: italic;
  color:black;
}

.welcome {
  color:  #000033;
  width: 600px;
  margin: 50px auto 0px;
}

p {
  padding: 0px;
  margin: 0px;
}