<div class="welcome" *ngIf="myAuthServ.currentUser"> 
  <p>
    Dear {{myAuthServ.currentUser.firstName}} {{myAuthServ.currentUser.lastName}}, please type in your question:
  <p>
</div>

<div class="component"> 
  <form (ngSubmit)="questionSubmit()"> 
    <textarea [(ngModel)]="requestForm.question" type="text" name="question" placeholder="10 to 600 characters" > 
    </textarea>

  <div class="xxxbtn"> 
   <button class="btn"> Submit </button>
  </div>
  </form>
</div>  

<div class="backTo">
      <a routerLink="/"> Back to Home </a>
</div>

