<div class="component"> 

  <div class="blockSelect"> 
    <div class="blockSelectLink"> 
      <a [routerLink]="['/icclist']">
        Incoterms <br/> List & Definition
      </a> 
    </div>
    <div class="blockSelectBottom"> 
    </div>
  </div>
  
  <div class="blockSelect"> 
    <div class="blockSelectLink"> 
      <a [routerLink]="['/tool']">
       Ease Incoterm Tool
      </a>
    </div>
    <div class="blockSelectBottom"> 
      </div>
    </div>    

  <div class="blockSelect"> 
    <div class="blockSelectLink"> 
      <a [routerLink]="['/contact']">
       Consulting <br/>& Training
      </a>
    </div>
    <div class="blockSelectBottom"> 
      </div>
    </div>    
</div>