<div>
   <p class="title">  Welcome to Ease Incoterm </p>
   <p class="subtitle">  Save time and money with the only selection tool for your incoterms. </p>
</div>

<div class="component"> 

  <div class="blockSelect"> 
    <div class="blockSelectLink"> 
      <a [routerLink]="['/icclist']">
        Incoterms <br/> List & Definition
      </a> 
    </div>
    <div class="blockSelectBottom"> 
    </div>
  </div>
  
  <div class="blockSelect"> 
    <div class="blockSelectLink"> 
      <a [routerLink]="['/tool']">
       Ease Incoterm <br/> Tool
      </a>
    </div>
    <div class="blockSelectBottom"> 
      </div>
    </div>    

  <div class="blockSelect"> 
    <div class="blockSelectLink"> 
      <a [routerLink]="['/contact']">
       Consulting <br/>& Training
      </a>
    </div>
    <div class="blockSelectBottom"> 
      </div>
    </div>    
</div>