
a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  margin: auto;
}

.blockSelect {
  display: flex;
  height:100px;
  width: 100px;
  text-decoration: none;
  margin: 10px;
  flex-direction: row;
  border: 2px, #4b8092;
  background-color: white;
  border-radius: 20px;
}
